name: Verify

on:
  workflow_call:
    inputs:
      jdk-matrix:
        description: jdk matrix as json array
        required: false
        default: '[ 8, 11, 17, 21 ]'
        type: string

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build and Test on JDK ${{ matrix.java }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: ${{ fromJSON( inputs.jdk-matrix ) }}
      fail-fast: false

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
          submodules: false
          show-progress: false

      - name: "Set up JDK ${{ matrix.java }}"
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'

      - name: Build & Test
        run: ./mvnw -B verify -P run-its

